body, html {
    scroll-behavior: smooth;
    text-decoration: none !important;
    font-family: "Open Sans", sans-serif;
}

.customHeader div .d-inline-block {
    line-height: 2;
}

.customHeader a .headerTitle{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffc107;
}

.bgColor {
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    background-color: rgb(156, 131, 95);
}

.gameContent {
    position: relative;
    top: 100px;
    text-align: center !important;
}

.gameContent .row div h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 3px;
}

.gameContent .row div h1 {
    font-weight: bold;
    font-size: 80px;
    letter-spacing: 10px;
    color: rgb(189,48,46);
}

.gameContent .row.contentImage .col-lg-3{
    height: 13vw;
}

.gameContent .row.contentImage img {
    width: 100px;
    height: 100px;
}

.gameContent .row div.greyBox {
    background-color: #c4c4c4;
    border: 1px #c4c4c4;
    border-radius: 15%;
}

.gameContent .row div.refresh img{
    width: 30px;
    height: 30px;
}